{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<!-- <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}Clients{% endblock %}

{% block background %}style="background-image: url('https://image.freepik.com/free-vector/modern-blue-medical-background_1055-6880.jpg'); ;background-size: 100%; background-color: rgba(255,255,255,1); background-blend-mode: luminosity; transition: background-color 1s ease-out;"{% endblock %}

{% block nav_client %}class="active"{% endblock %}


{% block content %}

<h1 style="align-content: center; text-align: center">{{log_client}}</h1>
  
{% endblock %}
