{% extends "base.html" %}
{% block extrajs %}
<!-- You should place your js files here -->
<!-- <script src="/static/js/index.js"></script> -->
{% endblock%}

{% block title %}Index{% endblock %}

{% block nav_index %}class="active"{% endblock %}

{% block background %}style="background-image: url('https://image.freepik.com/free-vector/modern-blue-medical-background_1055-6880.jpg'); background-size: 100%;"{% endblock %}

{% block content %}

<h1>{{log_index}}</h1>
<img src = "https://cdn4.iconfinder.com/data/icons/onboarding-1/120/Formal_meeting_Copy-512.png" class="rounded mx-auto d-block" width = "400" height = "400">
<h1 style = "align-content: center; text-align: center">Welcome</h1>

  
{% endblock %}
